.forbidden {
  text-align: center;
  margin: 3rem auto;

  h1 {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 0.5rem;
  }

  p {
    color: #ccd4dc;
  }

  a {
    color: #ffbc42;
  }
}
